* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #9fd6d6;
    }

.navbar{
    height: 100px;
    background-color:#00BF63;
}
.height{
    height :100%;
}
.navbar-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-right: 20px;
}

.navbar-item a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar-item a:hover {
    color: #007bff;
}

main {
    padding: 20px;
}

.description {
    margin-bottom: 30px;
    height: 100px;
    gap:10px;
}

.description h2 {
    color: #007bff;
}
.description >p{
    color:#333;
    line-height: 1.6;
    margin-bottom: 10px;


.highlights{
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
}
}
ul {
    list-style-type: none;
}

ul li {
    padding: 5px 0;
}


.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.color{
    color:#007bff;
}

.social-icons{
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.social-icons img {
    
    width: 30px;
    margin: 0 10px;
}

.footer-bottom {
    margin-top: 20px;
}
.mainelements{
    display: flex;
    width: 100%;
    gap:15px;
    padding:15px;
    }
.header{
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    background-color: #94b2b0;
    
}
.photos{
    width:300px;
    height: 300px;
}
.layout h3{
    color:#007bff;

}
.layout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:30px;
    height:470px;
}